[submodule "HumanMachineInterface"]
	path = HumanMachineInterface
	url = git@github.com:BennoNederkorn/HumanMachineInterface.git
[submodule "SentryDashboard"]
	path = SentryDashboard
	url = git@github.com:leezhuole/video-analytics-frontend.git
