[submodule "WebRTC_HandshakeServer"]
	path = WebRTC_HandshakeServer
	url = git@github.com:BennoNederkorn/WebRTC_HandshakeServer.git
[submodule "HumanMachineInterface"]
	path = HumanMachineInterface
	url = git@github.com:BennoNederkorn/HumanMachineInterface.git
